* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  /*utility*/
}
ul {
  list-style-type: none;
  display: flex;
  vertical-align: middle;
}
li {
  padding: 0 5px;
}
a {
  text-decoration: none;
}
i {
  padding: 5px;
}

.saled-price {
  color: red;
  display: inline;
}
.origin-price {
  display: inline;
  text-decoration: line-through;
}
.img-1row {
  width: 100%;
}
.marca {
  display: block;
}
.fa-image {
  background-color: white;
  position: absolute;
  top: 15px;
  right: 5px;
  padding: 10px;
}
.saled {
  position: absolute;
  bottom: 100px;
  left: 5px;
}
.saled-red {
  background-color: red;
  color: white;
  padding: 3px 5px;
  margin-right: 5px;
}
.green-bio {
  background-color: #008000;
  color: white;
  padding: 3px 5px;
}
h2 {
  font-size: small;
  font-weight: 900;
}
/*Header*/
header {
  background-color: #ff6900;
  padding: 20px 0;
  width: 100%;
}
.menu-booleando {
  /* background-color: aqua;*/
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.links-booleando {
  text-align: center;
  color: white;
  align-items: center;
}
.icon-awsome {
  color: white;
}
/*MAIN*/
main {
  padding: 50px 0;
  max-width: 1100px;
  margin: 0 auto;
}
.main-booleando {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  flex-basis: calc(100% / 3);
  padding: 10px 5px;
  position: relative;
}

.product-image .first {
  display: block;
  z-index: 2;
}

.product-image:hover .first {
  display: none;
}
.product-image .second {
  display: none;
  z-index: 0;
}
/*FOOTER*/
.footer-booleando {
  background-color: #1a1a1a;
  padding: 20px 0;
}
.info-footer {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  color: white;
}
.title-footer {
  padding-bottom: 5px;
}
.line-bord {
  border: 0.5px solid white;
  margin: 20px 0;
}
.footer2 {
  min-height: 100px;
  background-color: #1a1a1a;
}
